body {
    background-color: lightgreen;
}

h1 {
    font-size: 100;
    font-family: Macondo; 
    color: black;
     text-align: center;
     margin-top:320px;
     text-shadow: 5, 5, 5px, green;
}
