body {
    background-color: lightgreen;
}

h1 {
    font-size: 100px;
    font-family: Macondo; 
    color: green;
     text-align: center;
     margin-top: 315px;
     text-shadow: 0 0 10px #003300;
}

h3 {
       font-size: 60px;
    font-family: Macondo; 
    color: green;
     text-align: center;
     margin-top: 50px;
     text-shadow: 0 0 7px #003300;
} 
